<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StreamingKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>StreamingKitMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1A49968189E744400E2A2E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1A49979189E744500E2A2E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E7C4C7188D57F50010896F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E7C4D7188D57F60010896F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
